.slider {
  background-image: url("../Assets/home-bg.jpg");
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
}

.slider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4rem;
}

@media (max-width: 820px) {
  .slider__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 4%;
    padding: 1rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .slider__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 412px) {
  .slider__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 400px) {
  .slider__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.slider__wrapper .wrapper {
  -webkit-animation: fadeLeft 0.4s linear 0.4s backwards;
          animation: fadeLeft 0.4s linear 0.4s backwards;
}

@media (max-width: 820px) {
  .slider__wrapper .wrapper {
    font-size: 5rem;
  }
}

@media (max-width: 768px) {
  .slider__wrapper .wrapper {
    font-size: 3rem;
    padding: 0% 0 0% 3%;
    display: block;
  }
}

@media (max-width: 400px) {
  .slider__wrapper .wrapper {
    display: inline-block;
    padding: NaN 2% 8%;
  }
}

@media (max-width: 412px) {
  .slider__wrapper .wrapper {
    display: inline-block;
  }
}

.slider__wrapper .wrapper span {
  color: #666;
  font-size: 1.6rem;
}

@media (max-width: 820px) {
  .slider__wrapper .wrapper span {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .slider__wrapper .wrapper span {
    font-size: 2rem;
  }
}

@media (max-width: 412px) {
  .slider__wrapper .wrapper span {
    font-size: 2rem;
  }
}

@media (max-width: 400px) {
  .slider__wrapper .wrapper span {
    font-size: 1.5rem;
  }
}

@media (max-width: 320px) {
  .slider__wrapper .wrapper span {
    font-size: 1.3rem;
    margin-top: 3%;
  }
}

.slider__wrapper .wrapper h3 {
  font-size: 4.5rem;
  padding: 4% 0;
}

@media (max-width: 820px) {
  .slider__wrapper .wrapper h3 {
    font-size: 4rem;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .slider__wrapper .wrapper h3 {
    font-size: 5rem;
    padding: 0;
  }
}

@media (max-width: 412px) {
  .slider__wrapper .wrapper h3 {
    font-size: 2.2rem;
    padding: 4% 0 4% 0;
  }
}

@media (max-width: 400px) {
  .slider__wrapper .wrapper h3 {
    font-size: 2rem;
    padding: 2% 0 2% 0;
  }
}

@media (max-width: 320px) {
  .slider__wrapper .wrapper h3 {
    font-size: 2.5rem;
    padding: 1% 0 3% 0;
  }
}

.slider__wrapper .wrapper button {
  padding: 3% 7%;
  background-color: #bac34e;
  font-size: 1.1rem;
  border: none;
  color: #fff;
}

@media (max-width: 820px) {
  .slider__wrapper .wrapper button {
    padding: 4% 12%;
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .slider__wrapper .wrapper button {
    padding: 3% 10%;
  }
}

@media (max-width: 412px) {
  .slider__wrapper .wrapper button {
    padding: 4% 10%;
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  .slider__wrapper .wrapper button {
    padding: 4% 10%;
    font-size: 1rem;
  }
}

@media (max-width: 320px) {
  .slider__wrapper .wrapper button {
    padding: 4% 10%;
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .slider__wrapper .slider__image {
    width: 80%;
    margin-left: 5%;
    margin-top: 2rem;
  }
}

@media (max-width: 504px) {
  .slider__wrapper .slider__image {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 412px) {
  .slider__wrapper .slider__image {
    width: 90%;
  }
}

@media (max-width: 400px) {
  .slider__wrapper .slider__image {
    width: 100%;
  }
}

.slider__wrapper .slider__image img {
  -webkit-animation: fadeUp 0.4s linear;
          animation: fadeUp 0.4s linear;
}

@media (max-width: 768px) {
  .slider__wrapper .slider__image img {
    width: 100%;
  }
}

@media (max-width: 504px) {
  .slider__wrapper .slider__image img {
    width: 100%;
  }
}

@media (max-width: 412px) {
  .slider__wrapper .slider__image img {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .slider__wrapper .slider__image img {
    width: 100%;
  }
}

.banner {
  width: 80%;
  margin: 2% auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .banner {
    width: 90%;
  }
}

@media (max-width: 820px) {
  .banner {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .banner {
    width: 90%;
  }
}

@media (max-width: 820px) {
  .banner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .banner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .banner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 412px) {
  .banner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.banner .main {
  position: relative;
  padding: 2%;
  overflow: hidden;
}

@media (max-width: 400px) {
  .banner .main {
    padding: 5% 0 0% 0;
    width: 100%;
  }
}

.banner .main img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner .main img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.banner .main .txt {
  position: absolute;
  top: 30%;
  left: 6%;
}

.banner .main .txt span {
  font-size: 1.1rem;
  color: #666;
}

@media (max-width: 768px) {
  .banner .main .txt span {
    font-size: 1.2rem;
  }
}

@media (max-width: 400px) {
  .banner .main .txt span {
    font-size: 1rem;
  }
}

.banner .main .txt h3 {
  font-size: 1.45rem;
  padding: 5% 0 10% 0;
}

@media (max-width: 768px) {
  .banner .main .txt h3 {
    font-size: 1.2rem;
  }
}

@media (max-width: 400px) {
  .banner .main .txt h3 {
    font-size: 1.2rem;
  }
}

@media (max-width: 320px) {
  .banner .main .txt h3 {
    font-size: 1rem;
  }
}

.banner .main .txt button {
  padding: 9% 18%;
  border: none;
  font-size: 1.1rem;
  color: #fff;
  background-color: #bac34e;
}

@media (max-width: 768px) {
  .banner .main .txt button {
    padding: 6% 15%;
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  .banner .main .txt button {
    padding: 6% 15%;
    font-size: 1rem;
  }
}

@media (max-width: 320px) {
  .banner .main .txt button {
    padding: 6% 15%;
    font-size: 0.9rem;
  }
}

@-webkit-keyframes fadeLeft {
  0% {
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem);
    opacity: 0;
  }
}

@keyframes fadeLeft {
  0% {
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem);
    opacity: 0;
  }
}

@-webkit-keyframes fadeUp {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
}

@keyframes fadeUp {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
}
/*# sourceMappingURL=homecomp.css.map */