@import "../Router/utilities";

.slider {
  background-image: url("../Assets/home-bg.jpg");
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
   @media (max-width: 700px) {
  height: 85vh;
      }

  .slick-dots li.slick-active button:before {
    color: $groco-main;
    margin-bottom: 1rem;
  }

  .slick-prev:before,
  .slick-next:before {
    color: $groco-main;
    width: 15px;
  }
  .slick-prev {
    left: 1%;
    top: 50%;
  }
  .slick-next {
    position: absolute;
    right: 1%;
    top: 50%;
  }
  
  .slides {
    height: 100%;
    .slider_wrapper {
     
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 3rem;

      @media (max-width: 700px) {
        display: flex;
  
        align-items: flex-start;
        flex-direction: column;
      }
   

      .wrapper {
        animation: fadeLeft 0.4s linear 0.4s backwards;
        // flex: 1;

    
        span {
          color: $groco_gray;
          font-size: 1.3rem;

        }

        h1 {
          font-size: 3rem;
          // padding: 3% 0;
      
        }
        button {
          padding: 3% 7%;
          background-color: $groco-main;
          font-size: 1.1rem;
          border: none;
          color: $groco-white;
        
        }
      }
      .slider__image {
        padding: 1rem 0;
        img{
          width: 85%;
            animation: fadeUp 0.4s linear;
         
        }
  
      }
      .slider__image1 {
        img {
          
          width: 80%;
          animation: fadeUp 0.4s linear;
          
        }
      }
      .slider__image2 {
        padding: 1rem 0;
    
        img {
           width: 80%;
          animation: fadeUp 0.4s linear;
         
        }
      }
    }
  }
}

// HOME2 STYLING
.banner {
  width: 80%;

  margin: 2% auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  @media (max-width: 1120px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  @media (max-width: 720px) {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
 

  .main {
    position: relative;
    padding: 2%;
    overflow: hidden;
    @media (max-width: 400px) {
      padding: 5% 0 0% 0;
      width: 100%;
    }

    img {
      width: 100%;
      object-fit: cover;
      &:hover {
        transform: scale(1.2);
      }
    }
    .txt {
      position: absolute;
      top: 30%;
      left: 6%;
      span {
        font-size: 1.1rem;
        color: $groco_gray;
        @media (max-width: 768px) {
          font-size: 1.2rem;
        }
        @media (max-width: 400px) {
          font-size: 1rem;
        }
      }
      h3 {
        font-size: 1.45rem;
        padding: 5% 0 10% 0;
        @media (max-width: 768px) {
          font-size: 1.2rem;
        }
        @media (max-width: 400px) {
          font-size: 1.2rem;
        }
        @media (max-width: 320px) {
          font-size: 1rem;
        }
      }
      button {
        padding: 7% 18%;
        border: none;
        font-size: 1.1rem;
        color: $groco-white;
        background-color: $groco-main;
        @media (max-width: 768px) {
          padding: 6% 15%;
          font-size: 1rem;
        }
        @media (max-width: 400px) {
          padding: 6% 15%;
          font-size: 1rem;
        }
        @media (max-width: 320px) {
          padding: 6% 15%;
          font-size: 0.9rem;
        }
      }
    }
  }
}
@keyframes fadeLeft {
  0% {
    transform: translateX(-5rem);
    opacity: 0;
  }
}
@keyframes fadeUp {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
}
