@import "../Router/utilities";

.wrapper {
  // @media (max-width: 400px) {
  //   margin-top: 7%;
  // }
  .wrapper__main {
    background-color: $groco-bg;
    margin-top: 0%;
    footer {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      width: 80%;
      margin: 0 auto;
      padding: 3% 0;
      @media (max-width: 980px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
       
      }
      
      @media (max-width: 600px) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      
      }
    
      .grid {
        h3 {
          padding: 5% 0 3% 0;
          @media (max-width: 400px) {
            font-size: 1.1rem;
          }
        }
        .quick {
          li {
            list-style: none;
            display: flex;
            align-items: center;
            padding: 5% 0;
            cursor: pointer;
            @media (max-width: 768px) {
              padding: 5% 0;
            }
            @media (max-width: 400px) {
              padding: 3% 0;
            }
            .right {
              color: $groco-main;
              @media (max-width: 768px) {
                font-size: 0.9rem;
              }
            }
            .arrow {
              color: $groco_gray;
              text-decoration: none;
              font-size: 1rem;
              margin-left: 2%;
              @media (max-width: 768px) {
                font-size: 1rem;
              }
              @media (max-width: 400px) {
                font-size: 0.9rem;
              }
            }
          }
        }
      }

      .newsletter {
        h3 {
          padding: 5% 0;
          @media (max-width: 400px) {
            font-size: 1.1rem;
          }
        }

        p {
          margin-bottom: 5%;
          font-size: 1.1rem;
          color: $groco_gray;
          @media (max-width: 400px) {
            font-size: 1rem;
          }
        }

        input {
          padding: 4% 3%;
          color: $groco_gray;
          width: 100%;
          margin-bottom: 5%;
          border: none;
          font-size: 1.1rem;
          @media (max-width: 400px) {
            font-size: 1rem;
          }

          &:focus {
            outline: none;
          }
          &::placeholder {
            color: $groco_gray;
            font-size: 1.1rem;
            @media (max-width: 400px) {
              font-size: 1rem;
            }
          }
        }
        button {
          display: block;
          margin-bottom: 7%;
          padding: 3% 8%;
          font-size: 1.1rem;
          border: none;
          background-color: $groco-main;
          color: $groco-white;
          // font-weight: 600;
          cursor: pointer;
          @media (max-width: 400px) {
            font-size: 1rem;
          }
          &:hover {
            background-color: $groco_black;
          }
        }
        img {
          display: block;
          cursor: pointer;
        }
      }
    }
  }
  .copy {
    text-align: center;
    background-color: $groco-main;
    color: $groco_white;
    padding: 2% 0;
    font-size: 1.2rem;
    @media (max-width: 500px) {
      font-size: 1rem;
      padding: 6% 0;
    }
    @media (max-width: 400px) {
      font-size: 1rem;
      padding: 6% 0;
    }
  }
}
