$groco_main: #bac34e;
$groco_black: #222;
$groco_white: #fff;
$groco_bg: #f3f3f3;
$groco_gray: #666;
$groco_border: 1.3px solid rgba(0, 0, 0, 0.1);
$box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
